body {
	min-height: 100vh;
}
.jumbotron{
	width: 500px;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
	
}
.novo{
	
	 left: 3em;
}
.login-form {
	margin-top: 50vh;
	color: #FFF;
	transform: translateY(-50%);
}

.teste {
	background-color: rgb(0, 0, 0);
	padding: 20px 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.logotipo {
	padding: 10px;
	margin-right: 10px;
}

.logotipo img {
	height: 30px;
}

.cabecalho{
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.cabecalho h5{
	margin: 0;
	font-size: 2em;
	
}
.busca{
	margin-top: 7px;
}

.perfil {
	padding: 10px;
}

.perfil li:first-child {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 10px;
}

@media (max-width: 767px) {
	.perfil {
		color: #FFF;
	}

	.perfil a {
		color: #9d9d9d;
		display: block;
		padding: 5px 0;
	}

	.perfil a:hover {
		text-decoration: none;
		color: #FFF;
	}
}

.container{
	margin-top: 10px
}

.paginacao{  
    text-align: center;    	
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}